.dog-card {
  width: 100vw;
  background-color: #83B7F3; /* Light blue background */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  transition: transform 0.3s;
  max-width: 300px; /* Ajusta este valor para aumentar el ancho máximo de las tarjetas */
}

.dog-card:hover {
  transform: translateY(-5px);
}

.dog-info {
  text-align: center;
  margin: 10px 0;
}

.dog-info h3 {
  font-weight: bold;
  margin: 0;
}

.dog-info p {
  font-style: italic;
  color: #555;
}
