<footer class="footer">
  <div class="footer-content">
    <!-- Primera columna -->
    <div class="footer-column">
      <p>&copy; 2024 Huellitas UP - Adopción de Perritos</p>
      <p>¡Adopta un nuevo amigo! Los perritos en la Universidad UP están buscando un hogar amoroso.</p>
    </div>

    <!-- Segunda columna -->
    <div class="footer-column">
      <app-footer-links></app-footer-links>
    </div>

    <!-- Tercera columna -->
    <div class="footer-column">
      <p>Contacto: adopta&#64;up.edu.mx</p>
      <p>Tel: (123) 456-7890</p>
      <p>Dirección: Avenida Universitaria #123, Ciudad Universitaria, UP</p>
    </div>
  </div>
</footer>
