.footer {
  background-color: #F6CB5C;;
  color: black;
  padding: 20px;
  text-align: center;
  margin-top: 100px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  max-width: 1200px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.footer-column {
  flex: 1; /* Cada columna toma un espacio igual */
  min-width: 200px; /* Ancho mínimo para cada columna */
}

.contact-info {
  margin-top: 10px;
  font-size: 14px;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
