<div class="home">
 <img  class="portada" src="portada.png" alt="huellitasUP">
  
  <img class="perrito" src="perrito.png" alt="perrito">

  <div class="alineados">
    <img class="imagenuno" src="1.png" alt="imagen1">

    <div class="morado">
      <h1 class="texto1">Todos los perritos fueron desparasitados y 
        bañados, limpios ahora esperan un hogar contigo.
      </h1>
    </div>
<div class="ruedam">
  <img class="inyeccion" src="inyeccion.png" alt="inyeccion">
</div>
  </div>
 
  <div class="alineados2">
    <div class="ruedav">
    <img class="collar" src="collar.png" alt="collar">
  </div>
    <img class="imagendos" src="2.png" alt="imagen2">
    <div class="verde">
      <h1 class="texto2">Se les compró unos collares a cada uno para lucir más hermosos para ti.</h1>
    </div>
  </div>
  
  
</div>
   