@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.contacto {
    display: flex;
    flex-direction: column;
  }
  
  .what, .gmail, .telefono {
    display: flex; 
    align-items: center; 
    margin: 10px 0; 
    font-family: "Prompt", sans-serif;
  }
  
  .whatsapp-icon, .correo-icon, .telefono-icon {
    width: 40px; 
    height: 40px; 
    margin-right: 10px; 
  }
  
  .manda, .correo, .tele {
    margin: 0; 
  }
  
  .manda{
    color: gray;
    opacity: 0.5;
  }

  .tele{
    color: gray;
    opacity: 0.5;
  }

  .correo{
    color: gray;
    opacity: 0.5;
  }

.contac{
    font-family: 'Courier New', Courier, monospace;
}

.chituri{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(190, 144, 83);
}

.numero1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(190, 144, 83);
}

.numero2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(190, 144, 83);
}