<div class="contacto">
  <h1 class="contac">¡Contactanos!</h1>
  <div class="what">
    <img src="whatsapp.png" alt="whats" class="whatsapp-icon">
    <h1 class="manda">Manda mensaje:</h1>
    <h2 class="numero1">+52 965 1220433</h2>
  </div>
  <div class="gmail">
    <img src="correo-electronico.png" alt="correo" class="correo-icon">
    <h1 class="correo">Manda un correo:</h1>
    <h2 class="chituri">chituri05&#64;gmail.com</h2>
  </div>
  <div class="telefono">
    <img src="llamada-telefonica.png" alt="telefono" class="telefono-icon">
    <h1 class="tele">Llama al:</h1>
    <h2 class="numero2">+52 965 1220433</h2>
  </div>
</div>
